{% extends 'base.html.twig' %}

{% block title %}Geogroup index{% endblock %}

{% block body %}
    <h1>Geogroup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Text</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for geogroup in geogroups %}
            <tr>
                <td>{{ geogroup.id }}</td>
                <td>{{ geogroup.name }}</td>
                <td>{{ geogroup.text }}</td>
                <td>{{ geogroup.password }}</td>
                <td>
                    <a href="{{ path('geogroup_show', {'id': geogroup.id}) }}">show</a>
                    <a href="{{ path('geogroup_edit', {'id': geogroup.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('geogroup_new') }}">Create new</a>
{% endblock %}
