<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="manifest" href="manifest.json" />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" href="{{ '/img/logos/logo_196px.png' | imagine_filter('ico57') }}" sizes="57x57">
    <link rel="apple-touch-icon" href="{{ '/img/logos/logo_196px.png' | imagine_filter('ico72') }}" sizes="72x72">
    <link rel="apple-touch-icon" href="{{ '/img/logos/logo_196px.png' | imagine_filter('ico76') }}" sizes="76x76">
    <link rel="apple-touch-icon" href="{{ '/img/logos/logo_196px.png' | imagine_filter('ico114') }}" sizes="114x114">
    <link rel="apple-touch-icon" href="{{ '/img/logos/logo_196px.png' | imagine_filter('ico120') }}" sizes="120x120">
    <link rel="apple-touch-icon" href="{{ '/img/logos/logo_196px.png' | imagine_filter('ico144') }}" sizes="144x144">
    <link rel="apple-touch-icon" href="{{ '/img/logos/logo_196px.png' | imagine_filter('ico152') }}" sizes="152x152">
    <link rel="apple-touch-icon" href="{{ '/img/logos/logo_196px.png' | imagine_filter('ico180') }}" sizes="180x180">
    <link rel="shortcut icon" href="{{ '/img/logos/logo_196px.png' | imagine_filter('ico192') }}" sizes="192x192">
    <link rel="shortcut icon" href="{{ '/img/logos/logo_196px.png' | imagine_filter('ico196') }}" sizes="196x196">
    <link rel="shortcut icon" href="{{ '/img/logos/logo_196px.png' | imagine_filter('ico196') }}">

    <link  href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css" >
    <link  href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css" >

    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" media="all">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>


    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059" />
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>

    <link rel="stylesheet" type="text/css" href="/bundles/stflagiconcss/css/flag-icon.min.css" />


    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="{{ app.request.getSchemeAndHttpHost() }}/js/scripts.js"></script>
    <script src="{{ app.request.getSchemeAndHttpHost() }}/js/spectrum.js"></script>

    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>

    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() }}/css/spectrum.css" media="all">

    <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() }}/css/style.css" media="all">

</head>
<body>
<div>
    <!-- the left sidebar -->
    {% block sidebar %}

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">
                <img src="{{ '/img/logos/logo_196px.png' | imagine_filter('ico25') }}" alt="GeoNow" title="GeoNow">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ app.request.get('_route') == 'base' ? 'active' }}">
                        <a class="nav-link" href="/"><span>{% trans %}Home{% endtrans %}</span></a>
                    </li>
                    <li class="nav-item {{ app.request.get('_route') == 'app_geogroup_geogroups' ? 'active' }}">
                        <a class="nav-link" href="/geogroup/s"><span>{% trans %}Geogroups{% endtrans %}</span></a>
                    </li>
                    <li class="nav-item {{ app.request.get('_route') == 'removewaste' ? 'active' }}">
                        <a class="nav-link" href="/removewaste"><span>{% trans %}Resolve{% endtrans %}</span></a>
                    </li>
                    <li class="nav-item {{ app.request.get('_route') == 'user_index' ? 'active' }}">
                        <a class="nav-link" href="/user"><span>{% trans %}User{% endtrans %}</span></a>
                    </li>
                    <li class="nav-item {{ app.request.get('_route') == 'app_index_join' ? 'active' }}">
                        <a class="nav-link" href="/join"><span>{% trans %}Join{% endtrans %}</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans %}More{% endtrans %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/info"><span>{% trans %}Info{% endtrans %}</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/impressum"><span>{% trans %}Impressum{% endtrans %}</span></a>
                        </div>
                    </li>
                </ul>
                <div class="flag-div">
                    <a href="/setlocale/en">
                        <span class="flag-icon flag-icon-gb"></span>
                    </a>
                    <a href="/setlocale/de">
                        <span class="flag-icon flag-icon-de"></span>
                    </a>
                </div>
                <form class="form-inline my-2 my-lg-0" method="post" action="/geogroup/s">
                    <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

    {% endblock %}
    <!-- the main page content -->
    <div id="content">
        <section>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <br>
            <div id="" class="container">

                <div class="usergreet">{% trans %}Hallo{% endtrans %}
                    {% if user.name|length %}
                        {{ user.name }}
                    {% else %}
                        User {{ user.hash }}
                    {% endif %}
                </div>
                <div>{% trans %}Aktive Geogruppe{% endtrans %}: {{ user.getActiveGroup().name }}</div>
                {% if not user.name|length %}
                    <div><a href="/user">{% trans %}Edit User{% endtrans %}</a></div>
                {% endif %}

                <br>

                {% block body %}{% endblock %}
            </div>

        </section>
    </div>
</div>

<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

</body>
</html>